



<div class="flex items-center justify-center h-full w-full flex-col">
    <!-- <div class="flex items-center justify-center">
        <button class="login-form-button plus-button m-5" (click)="switchInput()">{{inputOn ? '-': '+'}}</button>
        <div class="bg-emerald-400 p-5 rounded-xl m-5 flex flex-col" [class.disap]="inputOn" *ngIf="inputOn">
                Nazwa: <input type="text" [(ngModel)]="skel.name">
                Rodzaj: <select [(ngModel)]="skel.type">
                    <option>Gotówka</option>
                    <option>Przedmiot</option>
                </select>
                <div *ngIf="getDebtType() == 'Gotówka'">Wartość:<br> <input type="number"  [(ngModel)]="skel.value"></div>
                <div *ngIf="getDebtType() == 'Przedmiot'">Wartość:<br> <input type="text" [(ngModel)]="skel.value"></div>
                Typ Długu<select [(ngModel)]="skel.sign">
                    <option>Do spłacenia</option>
                    <option>Do odebrania</option>
                </select>
                Osoba:<select [(ngModel)]="skel.personname">
                    <option>Seba</option>
                    <option>Całka</option>
                </select>
                Data oddania: <input type="date" [(ngModel)]="skel.due_date">
                <button class="login-form-button m-2 add-form-check-button" (click)="submitForm()">Dodaj</button>
        </div>
    </div> -->
<div class="w-3/4 min-h-[50%] bg-red-400 rounded-3xl p-5">
    <!-- <div *ngFor="let debt of debts" class="p-2">
        <app-debt [Id]="debt.Id"  [name]="debt.name" [type]="debt.type" [value]="debt.value" [sign]="debt.sign" [personname]="debt.personname" (delete)="usunDlug($event)" (edit)="edytujDlug($event)" ></app-debt>
    </div> -->
    <app-debtcol [debts]="debts"/>
</div>
</div>
