<button class="italic text-emerald-700" (click)=goBack()><- Powrót</button>
<div class="text-center h-full w-full">
    <h1 class="text-6xl">{{personInfo.name}}</h1>
    <!-- <button class="login-form-button" (click)="switchEdition()" [class.selected]="isEdited">Edytuj</button> -->
    <button class="login-form-button" (click)="switchDeletion()" [class.selected]="isDeleted">Usuń</button>
    <div class="delete-form flex flex-col items-center" *ngIf="isDeleted">
        <h1 class="text-red-600">Czy na pewno chcesz usunąć? Wszystkie długi przypisane do tej osoby zostaną usunięte</h1>
        <button class="login-form-button red" (click)="deletePerson()">Usuń</button>
        <button class="login-form-button" (click)="switchDeletion()">Anuluj</button>
    </div>
    <!-- <div class="edit-form" *ngIf="isEdited">
        <div class="flex items-center justify-center">
        <div class="bg-emerald-400 p-5 rounded-xl m-5 flex flex-col">
                Nazwa: <input type="text" [(ngModel)]="skel">
                <button class="login-form-button m-2 add-form-check-button" (click)="onSubmit()" [disabled]="!canSubmit()" [class.button-blocked]="!canSubmit()">Dodaj</button>
        </div>
    </div> 
    </div> -->

    <div class="flex items-center justify-center m-10 rounded-xl h-full w-full">
        <!-- <div *ngIf="debts!=0"  class="p-2 w-1/2 bg-emerald-400 rounded-3xl min-h-[50%]">
                <app-debt *ngFor="let debt of debtsFinal" [Id]="debt.Id"  [name]="debt.name" [type]="debt.type" [value]="debt.value" [sign]="debt.sign" [personname]="debt.person_nickname" ></app-debt>
            </div> -->
        <app-debtcol [debts]="debtsFinal" class="min-w-[75%] min-h-[50%]"/>
    </div>
</div>
