<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WDIOU</title>
</head>
<body class="rounded-xl mt-0">
  <nav class="w-full sticky top-0 flex space-x-4 items-center bg-custom-navbar rounded-xl">
    <div class="flex justify-start w-2/5">
      <a routerLink="/index" routerLinkActive="active" class="text-3xl m-3">WDIOU</a>
    </div>


    <div class="flex justify-end w-3/5" *ngIf="!isLogged()">
      <ul class="list-none flex space-x-6 flex-row mr-4 text-xl">
        <li class=" p-2 hover:bg-navbar-hover login-form-button">
          <a routerLink="/login" routerLinkActive="active" class="hover:text-navbar-hover-text">Zaloguj</a>
        </li>
        <li class="p-2 hover:bg-navbar-hover login-form-button">
          <a routerLink="/register" routerLinkActive="active">Zarejestruj się</a>
        </li>
      </ul>
    </div>

    <div class="flex justify-end w-3/5" *ngIf="isLogged()">
      <ul class="list-none flex space-x-6 flex-row mr-4 text-xl">
        <li class=" p-2 hover:bg-navbar-hover">
          <a routerLink="" routerLinkActive="active" class="hover:text-navbar-hover-text">Jeden</a>
        </li>
        <li class="p-2 hover:bg-navbar-hover">
          <a>Dwa</a>
        </li>
        <li class="p-2 hover:bg-navbar-hover hover:text-navbar-hover-text">
          <a (click)="logout()" class="hover:text-navbar-hover-text" routerLink="">Wyloguj</a>
        </li>
      </ul>
    </div>

  </nav>

<main class="h-screen overflow-hidden">
<router-outlet></router-outlet>
</main>

</body>

</html>
