@import '../colors.scss';
html{
    background-color: $background_total;
    // padding:10px; //!Rozwiazanie tymczasowe

    body
    {
        background-color:$background_content;
        nav{
            background-color:$background_navbar;
            li:hover a{
                color:$navbar_hover_text;
            }
            .login-form-button{
                background-color: #417b53;
            
                border-radius: 10px;
                padding:8px;
            }
        }
    }
}
