<div class="flex w-full h-full justify-center items-center">
    <div class="left w-1/2 text-center">
        <h1 class="text-6xl font-semibold mb-5 tracking-tight">Zobacz ile kto jest ci winien!</h1>
        <p class="text-2xl font-light tracking-wide leading-tight text-left ml-[12%] text-">Z <span class="font-normal text-emerald-600">WDIOU</span> możesz zapamiętywać czyjeś zadłużenia względem Ciebie, jak i swoje zadłużenia względem innych za pomocą <span class="font-normal">prostego i przejrzystego interfejsu</span>.<br><span class="font-normal">Załóż darmowe konto</span> już teraz i juz nigdy nie zapomnisz ile pieniedzy ma ci oddać mama, lub komu pożyczyłeś/aś swoją książkę.</p>
    </div>
    <div class="right w-1/2 text-center flex justify-center">
        <ul class="list-none w-1/2 flex flex-col text-xl rounded-xl p-10 ">
            <li class="mb-5 login-form-button">
                <a routerLink="/register" routerLinkActive="active">Zarejestruj się</a>
            </li>
            lub
            <li class="mt-5 login-form-button">
                <a routerLink="/login" routerLinkActive="active">Zaloguj</a>
            </li>
        </ul>
    </div>
</div>