<div class="flex items-center justify-center">
        <button class="login-form-button plus-button m-5" (click)="switchInput()">{{inputOn ? '-': '+'}}</button>
        <div class="bg-emerald-400 p-5 rounded-xl m-5 flex flex-col" [class.disap]="inputOn" *ngIf="inputOn">
                Nazwa: <input type="text" [(ngModel)]="skel.name">
                Rodzaj: <select [(ngModel)]="skel.type">
                    <option>Gotówka</option>
                    <option>Przedmiot</option>
                </select>
                <div *ngIf="getDebtType() == 'Gotówka'">Wartość:<br> <input type="number"  [(ngModel)]="skel.value"></div>
                <div *ngIf="getDebtType() == 'Przedmiot'">Wartość:<br> <input type="text" [(ngModel)]="skel.value"></div>
                Typ Długu<select [(ngModel)]="skel.sign">
                    <option>Do spłacenia</option>
                    <option>Do odebrania</option>
                </select>
                Osoba:<select [(ngModel)]="skel.personname">
                    <option *ngFor="let person of personList">{{person.name}}</option>
                </select>
                Data oddania: <input type="date" [(ngModel)]="skel.due_date">
                <button class="login-form-button m-2 add-form-check-button" (click)="submitForm()" [disabled]="!canSubmit()" [class.button-blocked]="!canSubmit()">Dodaj</button>
        </div>
    </div>