<h1 class="w-full text-center text-6xl font-semibold " >Witaj <span class="text-emerald-600">{{ welcome() }}</span>!</h1>
<div class="flex w-full h-full items-center justify-center flex-col">
    <h2 class="text-4xl mb-10 font-normal">Twoje Podsumowanie: </h2>
    <div class="bg-emerald-400 h-1/2 w-1/2 rounded-xl flex justify-center items-center text-3xl font-semilight p-5 tracking-wide leading-loose">
        Balans ogólny(zł): -4000zł<br>
        Pieniądze do oddania: 6000zł<br>
        Pieniądze do odebrania: 2000zł

    </div>
</div>