<a routerLink="/debtpage/{{Id}}" routerLinkActive="active">
    <div class="rounded-xl bg-gray-400 p-8 flex justify-center items-center text-center m-5 w-full h-full">
<!-- <ul>
    <li>{{name}}</li>
    <li>{{type}}</li>
    <li>{{value}}</li>
    <li>{{person.name}}</li>
</ul> -->
    
    <table class="w-full">
        <tr>
            <td>{{personname}}</td>
            <td>{{name}}</td>
            <td>{{value}}</td>
            <td>{{due_date}}</td>
        </tr>
    </table>
    <!-- <div class="mt-1 bg-emerald-800 p-1 rounded-3xl min-h-[50%]">
        <button (click)="edytujDlug()" class="login-form-button">Edytuj</button>
        
        <button (click)="usunDlug()" class="login-form-button">Usuń</button>
    </div> -->


</div>
</a>